
/*
	The main_Page ach danny, dass ist deins^^ top dich aus :)
*/ 
#main_Page
{
	width: 90%;
	width: 1000px;
	margin: auto;
	

}

#main_Head
{
	
	background-color: rgb(66,205,58);
	width: 1000px;
	height: 100px;
}


#main_Menue
{
	background-color: rgb(137,224,133);
	
	width: 175px;
	min-height:300px;
	float:left;
	padding-left:5px;
	padding-top:20px;
}

#main_Main
{	
	margin-left: 175px;
	min-height:300px;
	padding-left: 20px;
	width: 825px;
	
}